/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro Display", sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #467d91;
    --primary-color-light: #d3a1ab;
    --toggle-color: #ddd;
    --text-color: #707070;
    --border-radius:25px;
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-image: url('../../Content/img/back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transition: var(--tran-05);
}




.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: transparent;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
    border-right: 1px solid rgba(255,255,255,0.1);
}

    .sidebar.open {
        width: 250px;
    }

    .sidebar .logo-details {
        height: 60px;
        display: flex;
        align-items: center;
        position: relative;
    }

        .sidebar .logo-details .icon {
            opacity: 0;
            transition: all 0.5s ease;
        }

        .sidebar .logo-details .logo_name {
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            opacity: 0;
            transition: all 0.5s ease;
        }

    .sidebar.open .logo-details .icon,
    .sidebar.open .logo-details .logo_name {
        opacity: 1;
    }

    .sidebar .logo-details #btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 22px;
        transition: all 0.4s ease;
        font-size: 23px;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    .sidebar.open .logo-details #btn {
        text-align: right;
    }

    .sidebar i, .sidebar img {
        color: #fff;
        height: 60px;
        min-width: 50px;
        font-size: 28px;
        text-align: center;
        line-height: 60px;
    }

    .sidebar .nav-list {
        margin-top: 20px;
        height: 100%;
        padding-left:0;
    }

    .sidebar li {
        position: relative;
        margin: 8px 0;
        list-style: none;
    }

        .sidebar li .tooltip {
            position: absolute;
            top: -20px;
            left: calc(100% + 15px);
            z-index: 3;
            background: #fff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
            padding: 6px 12px;
            border-radius: 4px;
            font-size: 15px;
            font-weight: 400;
            opacity: 0;
            white-space: nowrap;
            pointer-events: none;
            transition: 0s;
        }

        .sidebar li:hover .tooltip {
            opacity: 1;
            pointer-events: auto;
            transition: all 0.4s ease;
            top: 50%;
            transform: translateY(-50%);
        }

    .sidebar.open li .tooltip {
        display: none;
    }

    .sidebar input {
        font-size: 15px;
        color: #FFF;
        font-weight: 400;
        outline: none;
        height: 50px;
        width: 100%;
        width: 50px;
        border: none;
        border-radius: 12px;
        transition: all 0.5s ease;
        background: #1d1b31;
    }

    .sidebar.open input {
        padding: 0 20px 0 50px;
        width: 100%;
    }

    .sidebar .bx-search {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 22px;
        background: #1d1b31;
        color: #FFF;
    }

    .sidebar.open .bx-search:hover {
        background: #1d1b31;
        color: #FFF;
    }

    .sidebar .bx-search:hover {
        background: #FFF;
        color: #11101d;
    }

    .sidebar li a {
        display: flex;
        height: 100%;
        width: 100%;
        border-radius: 12px;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        background: transparent;
    }

        .sidebar li a:hover {
            background: #FFF;
        }

        .sidebar li a .links_name {
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            white-space: nowrap;
            opacity: 0;
            pointer-events: none;
            transition: 0.4s;
        }

    .sidebar.open li a .links_name {
        opacity: 1;
        pointer-events: auto;
    }

    .sidebar li a:hover .links_name,
    .sidebar li a:hover i {
        transition: all 0.5s ease;
        color: #11101D;
    }

    .sidebar li i {
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        border-radius: 12px;
    }

    .sidebar li.profile {
        position: fixed;
        height: 60px;
        width: 78px;
        left: 0;
        bottom: -8px;
        padding: 10px 14px;
        background: transparent;
        transition: all 0.5s ease;
        overflow: hidden;
    }

    .sidebar.open li.profile {
        width: 250px;
    }

    .sidebar li .profile-details {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    .sidebar li img {
        height: 45px;
        width: 45px;
        object-fit: cover;
        border-radius: 6px;
        margin-right: 10px;
    }

    .sidebar li.profile .name,
    .sidebar li.profile .job {
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        white-space: nowrap;
    }

    .sidebar li.profile .job {
        font-size: 12px;
    }

    .sidebar .profile #log_out {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: #1d1b31;
        width: 100%;
        height: 60px;
        line-height: 60px;
        border-radius: 0px;
        transition: all 0.5s ease;
    }

    .sidebar.open .profile #log_out {
        width: 50px;
        background: none;
    }

.home-section {
    position: relative;
    background: transparent;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open ~ .home-section {
    left: 250px;
    width: calc(100% - 250px);
}


@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}

.leftCol {
    height: 100%;
    padding: 0;
    margin: 0;
}

.rightCol {
    height: 100%;
    padding: 0;
    margin: 0;
}

.topMost {
    height: 85px;
    padding: 20px 10px 10px 10px;
    margin: 0;
}

.top {
    height: 171.6px;
    padding: 10px;
    margin: 0;
}
.subContainer {
    margin: 0;
    overflow-x: scroll;
    padding: 0;
    height: 100%;
}
.subContainer::-webkit-scrollbar {
    height: 0;
}


.mid {
    height: 171.6px;
    padding: 10px;
    margin: 0;
}

.popContainer {
    margin: 0;
    overflow-x: scroll;
    padding:0;
    height:100%;
}

.popContainer::-webkit-scrollbar {
    height: 0;
}


.btm {
    height: calc(100vh - 428px);
    padding: 10px;
    margin: 0;
}

.bContainer {
    background-color: rgba(255,255,255,0.06);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.1);
    height: 100%;
    padding:0;
    border-radius: 35px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.playerC {
    height: 428px;
    padding: 10px 0 10px 10px;
}

.listC {
    height: calc(100vh - 428px);
    padding: 10px 0 10px 10px;
}

.pContainer {
    background-color: rgba(255,255,255,0.06);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.1);
    height: 100%;
    padding:0;
    border-radius: 35px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.lContainer {
    background-color: rgba(255,255,255,0.06);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.1);
    height: 100%;
    border-radius: 35px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding:0;
}

.searchBox {
    font-size: 20px;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    border-right: 0;
    border-radius: 35px 0px 0px 35px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    padding-left: 20px;
    color: #fff;
    height: 100%;
}

.searchBox:focus{
    border: 1px solid rgba(255,127,0,0.1);
    outline:none;
    backdrop-filter: blur(30px);
    background-color: rgba(255,255,255,0.1);
}

    .searchBox::placeholder {
        color: #fff;
    }


.searchButton {
    height: calc(100% + 0px);
    width: 70px;
    padding-top: 3px;
    border-radius: 0px 35px 35px 0px;
    background: var(--primary-color);
    border: 1px solid rgba(255,255,255,0.1);
    border-left:0;
    color: #fff;
    font-size: 26px;
}

.info {
    display: flex;
    align-items: center; /* Align vertically */
    justify-content: right; /* Align horizontally */
    padding: 0;
}

.dpContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%; /* Align children vertically */
}

.dp {
    height: 100%;
    border-radius: 50%;
}

.userName {
    color: #fff;
    margin-left: 20px;
    margin-top: 14px;
    margin-right: 5px;
    font-size: 25px;
}


.tabcontainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.tabs {
    position: relative;
    display: flex;
    min-height: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.tabby-tab {
    flex: 1;
}

    .tabby-tab label {
        display: block;
        box-sizing: border-box;
        height: 40px;
        padding: 10px;
        text-align: center;
        background: rgba(255, 255, 255, 0.14);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        color: #fff;
        cursor: pointer;
        transition: background 0.5s ease;
        font-size: 15px;
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 10px;
        border-radius: var(--border-radius);
    }

        .tabby-tab label:hover {
            background-color: rgba(255,255,255,0.1);
            border: 1px solid rgba(255,255,255,0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(30px);
        }

.tabby-content {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 40px;
    padding:0;
    padding-top: 23px;
    padding-bottom: 13px;
    border-radius: 0 0 16px 16px;
    background: transparent;
    transition: opacity 0.8s ease,transform 0.8s ease;
    opacity: 0;
    transform: scale(0.1);
    transform-origin: top left;
}



.tabby-tab [type=radio] {
    display: none;
}

[type=radio]:checked ~ label {
    background: var(--primary-color);
    z-index: 2;
}

    [type=radio]:checked ~ label ~ .tabby-content {
        z-index: 1;
        /* show/hide */
        opacity: 1;
        transform: scale(1);
    }

.listContainer::-webkit-scrollbar {
    width: 0px;
}

.listContainer::-webkit-scrollbar-track {
    background-color: transparent;
}

.listContainer::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 100px;
}



.songList {
    list-style: none;
    display: ruby-text;
    margin: 0;
    padding-left: 0;
}

    .songList li {
        display: flex;
        margin: 15px;
    }


.subList123 {
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    border-radius:25px;
}

    .subList123::-webkit-scrollbar {
        height: 0px;
    }

    .subList123::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .subList123::-webkit-scrollbar-thumb {
        background-color: #FFD0CB;
        border-radius: 100px;
    }

.sublist {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

    .sublist li {
        height: 100%;
    }



.card1 {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 35px;
    background-color: rgba(255,255,255,0.06);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.1);
    outline: none;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center;
    padding: 20px;
    margin-right: 20px;
    transition: 0.15s ease-in;
}

.subArt-container {
    background:var(--primary-color);
    border-radius: 50%;
    height: 90%;
    width: 90%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.1s ease-in;
}

    .subArt-container .subArt {
        border-radius: 50%;
        height: calc(100% - 4px);
        width: calc(100% - 4px);
        margin: 2px;
    }

.card1:hover {
    background-color: rgba(255,255,255,0.2);
}

    .card1:hover .subArt-container {
        transform: scale(1.2);
        background-color: #FF810D;
    }










.sidetable td, .sidetable th {
    background-color: transparent;
    color: #fff;
}




table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    border-radius: 35px 35px 0px 0px;
}

.tbl-content {
    height: 83%;
    overflow-x: auto;
    margin-top: 0px;
}

    .tbl-content::-webkit-scrollbar {
        width: 0;
    }

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

td {
    padding: 15px;
    padding-left: 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 15px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}


.col1 {
    width: 20%;
}

    .col1 img {
        border-radius: 50%;
    }

.col2 {
    width: 80%;
}


.slider123 {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0.5rem;
    border-radius: 1rem;
    overflow: hidden;
    outline: none;
    border: none;
}

    .slider123::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 0;
        box-shadow: -20rem 0 0 20rem var(--primary-color);
        background-color: red;
    }




.spinner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 60px;
    height: 230px;
}


    .spinner div {
        height: 40px;
        display: block;
        width: 10px;
        height: 6px;
        border-radius: 8px;
        background: white;
        animation: audio-wave 2.2s infinite ease-in-out;
    }

        .spinner div:nth-child(2) {
            left: 11px;
            animation-delay: 0.2S;
        }

        .spinner div:nth-child(3) {
            left: 22px;
            animation-delay: 0.4s;
        }

        .spinner div:nth-child(4) {
            left: 33px;
            animation-delay: 0.6S;
        }

        .spinner div:nth-child(5) {
            left: 44px;
            animation-delay: 0.8S;
        }

        .spinner div:nth-child(5) {
            left: 55px;
            animation-delay: 1s;
        }

@keyframes audio-wave {
    0% {
        height: 6px;
        transform: translateY(0px);
        background: var(--primary-color);
    }

    25% {
        height: 40px;
        transform: translateY(-5px) scaleY(1.7);
        background: var(--primary-color);
    }

    50% {
        height: 6px;
        transform: translateY(0px);
        background: var(--primary-color);
    }

    100% {
        height: 6px;
        transform: translateY(0px);
        background: var(--primary-color);
    }
}


.pimgContainer {
    background: var(--primary-color);
    height: 100%;
    padding: 2px;
    border-radius: 50%;
}






.pListContainer {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

    .pListContainer li {
        height: 100%;
    }

.card2 {
    height: 100%;
    border-radius: 35px;
    outline: none;
    align-items: center;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: 0.15s ease-in;
    margin-right: 20px;
    width: 323.18px;
    background-color: rgba(255,255,255,0.06);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.1);
}




.plImg {
    height: 100%;
    border-radius: 25px;
    border: 2px solid var(--primary-color);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.plName {
    color: #f6f5ff;
    font-size: 15px;
    margin: 0;
    text-align: left;
    margin-left: 10px;
}

.plPlay {
    display: block;
    font-size: 15px;
    margin-left: 10px;
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px 5px 10px;
    outline: none;
    border: none;
    border-radius: 15px;
    position: absolute;
    bottom: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}



.card {
    width: 238px;
    height: 167px;
    background: transparent;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    transform: translate(-7px,-3px);
}

    .icon .svg {
        fill: rgba(255, 255, 255, 0.797);
        width: 100%;
        transition: all 0.5s ease-in-out;
    }

.box {
    position: absolute;
    padding: 10px;
    text-align: right;
    background-color: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
    box-shadow: rgba(0, 0, 0, 0.1) -7px 7px 29px 0px;
    transform-origin: bottom left;
    transition: all 0.25s ease-in-out;
    z-index: 9;
}

    .box::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }

    .box:hover .svg {
        fill: white;
    }

.box3 {
    width: 30%;
    height: 30%;
    bottom: -30%;
    left: -30%;
    transition-delay: 0.4s;
}

    .box3::before {
        background: #467d91;
    }

    .box3:hover::before {
        opacity: 1;
    }

    .box3:hover .icon .svg {
        filter: drop-shadow(0 0 5px white);
    }

.card:hover .box {
    bottom: -1px;
    left: -1px;
}

.card:hover .logo {
    transform: translate(0, 0);
    bottom: 20px;
    right: 20px;
}

.background {
    width: 100%;
}

.songThumbnail {
    width: 100%;
    position: absolute;
    top: 0%;
}

.songName {
    z-index: 9;
    color: #fff;
    font-size: 11px;
    margin: 10px;
    margin-bottom: 0;
    margin-top: 23px;
}

.songChannel {
    z-index: 9;
    color: #fff;
    font-size: 10px;
    margin: 10px;
    margin-bottom: 0;
}

.image-tint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}



@media screen and (max-width: 985px) {
    .top, .mid, .btm, .list, .player {
        padding: 10px;
        border-radius: var(--border-radius);
    }

        .player .playerContainer, .list .listContainer {
            border-radius: var(--border-radius);
        }
}
